


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


:root {
    --DoctorWhite: #F9F9F9;
    --IcebergLightBlue: #DDE4EF;
    --GreekSeaBlue: #779FE5;
    --AngelicBlue: #B2BED0;
    --LilacBlue: #8293AB;
    --MoreThanAWeek: #8C8C8C;
    --RhapsodyGrey: #323841;
    --DiamondBlack: #1F242A;
}

body {
    font-family: Ubuntu;
}

a {
    text-decoration: none;
}