@import "tailwindcss";

@theme {
  --font-display: "Sans Pro 3", "sans-serif";
  --color-primary-black: #242A31;
  --color-primary-blue: #3A6EC8;
  --color-primary-white: #F6F6F6;
  --color-secondary-white: #E8E8E8;
  --color-primary-green: #48AC5C;
}