


.tasks {
    flex: 1;
    background-image: url('../../../assets/images/dashboard/dashboard-bg.svg');
    display: flex;
    flex-direction: column;
    color: var(--DoctorWhite);
    padding: 0 20px;
}

.today-container {
  margin: 0 340px;
}

/* Hide the default checkbox */
.task-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.task-checkbox-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  margin: 14px 0;
  background-color: var(--RhapsodyGrey);
  padding: 10px;
  border-radius: 4px;
}

.task-left {
  display: flex;
  align-items: center;
}

.task-right button {
  background-color: transparent;
  border: none;
  margin: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.1em;
  width: 1.1em;
  background-color: transparent;
  border: 2.8px solid var(--GreekSeaBlue);
  transition: all 0.3s;
  border-radius: 4px;
  margin-right: 8px;
}

/* When the checkbox is checked, add a blue background */
.task-checkbox:checked ~ .checkmark {
  background-color: var(--GreekSeaBlue);
  animation: pop 0.5s;
  animation-direction: alternate;
}

.new-task button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--MoreThanAWeek);
}

.new-task input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: var(--MoreThanAWeek);
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}


