


.mini-tasks {
    background-color: var(--RhapsodyGrey);
    color: var(--DoctorWhite);
    padding: 8px 24px;
    width: 80%;
    border-radius: 4px;
}

.mini-tasks ul {
    list-style-type: none;
    padding: 0;
}

.see-more {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    margin: 0;
    cursor: pointer;
    color: var(--MoreThanAWeek);
    margin-top: 4px;
    margin-bottom: 16px;
}

/* Hide the default checkbox */
.mini-task-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  appearance: none;
}

.mini-task-checkbox-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  margin: 6px 0;
  background-color: var(--DiamondBlack);
  padding: 10px;
  border-radius: 4px;
}

.mini-task-left {
  display: flex;
  align-items: center;
}

.mini-task-right button {
  background-color: transparent;
  border: none;
  margin: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.mini-checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.1em;
  width: 1.1em;
  background-color: transparent;
  border: 2.8px solid var(--GreekSeaBlue);
  transition: all 0.3s;
  border-radius: 4px;
  margin-right: 8px;
}

/* When the checkbox is checked, add a blue background */
.mini-task-checkbox:checked ~ .mini-checkmark {
  background-color: var(--GreekSeaBlue);
  animation: pop 0.5s;
  animation-direction: alternate;
}


.mini-new-task button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--MoreThanAWeek);
}

.mini-new-task input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: var(--MoreThanAWeek);
}

.mini-bottom {
    display: flex;
    justify-content: space-between;
}
  

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}


