/* Light Mode */
.customScrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d3d2d2 transparent;
}

.customScrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background: #d3d2d2;
  border-radius: 9999px;
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  .customScrollbar {
      scrollbar-color: #3a4454 transparent; 
  }

  .customScrollbar::-webkit-scrollbar-thumb {
      background: #3a4454; 
  }

  .customScrollbar::-webkit-scrollbar-thumb:hover { 
      background: #3a4454; 
  }

  .customScrollbar::-webkit-scrollbar-track {
      background: #3a4454;
  }
}